@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <BodyTopBar PageTitle="Page Not Found" RouteLink="/404" RouteTitle="Error" />
            <HeaderTile>
                Error 404: Page not found
            </HeaderTile>
            <p>The Page you requested isn't available!</p>
        </LayoutView>
    </NotFound>
</Router>