<div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
    <div class="card-box @AdditionalCss">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string AdditionalCss { get; set; }
}
