@{
    ViewData["Title"] = "Home";
    ViewData["Controller"] = "Home";
    ViewData["ControllerName"] = "Home";
    ViewData["PageTitle"] = "Dashboard";
}

<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card-box tilebox-one">
            <h1>Games Process</h1>

        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
        <a asp-area="" asp-controller="AdvancedSearch" asp-action="Index">
            <div class="card-box tilebox-one">
                <i class="icon-arrow-right-circle text-success float-right text-muted"></i>
                <h6 class="text-success text-uppercase m-b-20">Simple Search</h6>
                <h2 class="m-b-20 text-success">Search <i class="zmdi zmdi-search-for"></i></h2>
                <span class="label label-success"> Use Simple Search to Search for Events </span>
            </div>
        </a>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
        <a asp-area="" asp-controller="AdvancedSearch" asp-action="Index">
            <div class="card-box tilebox-one">
                <i class="icon-arrow-right-circle text-info float-right text-muted"></i>
                <h6 class="text-info text-uppercase m-b-20">Advanced Search</h6>
                <h2 class="m-b-20 text-info">Advanced Search <i class="zmdi zmdi-search-in-file"></i></h2>
                <span class="label label-info"> Use Advanced Search for One or Multiple Events </span>
            </div>
        </a>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
        <a asp-area="" asp-controller="Games" asp-action="Index">
            <div class="card-box tilebox-one">
                <i class="icon-arrow-right-circle text-danger float-right text-muted"></i>
                <h6 class="text-muted text-uppercase m-b-20">Games List</h6>
                <h2 class="m-b-20 text-muted">Games <i class="zmdi zmdi-gamepad"></i></h2>
                <span class="label label-danger"> See List of Games </span>
            </div>
        </a>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
        <a asp-area="" asp-controller="Groups" asp-action="Index">
            <div class="card-box tilebox-one">
                <i class="icon-arrow-right-circle text-danger float-right text-muted"></i>
                <h6 class="text-muted text-uppercase m-b-20">Games Groups </h6>
                <h2 class="m-b-20 text-muted">Groups <i class="zmdi zmdi-group"></i></h2>
                <span class="label label-danger">See List of Games Groups</span>
            </div>
        </a>
    </div>

</div>
<!-- end row -->
